<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>⭐ Избранные рецепты</h2>

<div class="recipes-grid">
    {% for recipe in recipes %}
        <div class="card">

            <a href="{% url 'recipe_page' recipe.id %}">
                <img src="{{ recipe.image_url }}"  width="500" height="500">
                <h3>{{ recipe.title }}</h3>
            </a>

            <p>{{ recipe.description }}</p>

            <div>
                <span>💰 {{ recipe.get_total_cost }} ₽</span>
            </div>

            <!-- удалить -->
            <form method="POST" action="{% url 'toggle_save_recipe' recipe.id %}">
                {% csrf_token %}
                <button>❌ Убрать</button>
            </form>

        </div>
    {% empty %}
        <p>Нет избранных рецептов</p>
    {% endfor %}
</div>
</body>
</html>